/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article {
	h1 {
		margin-bottom: 1.7rem;
		letter-spacing: 0.24rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2rem;
			letter-spacing: 0.1rem;
		}
	}

	h3 {
		margin-bottom: 2rem;
		letter-spacing: 0.1rem;
	}

	p {
		margin-bottom: 1.9rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.3rem;
		}
	}

	p + p {
		margin-top: 2.2rem;
	}

	p + h3 {
		margin-top: 3.6rem;
	}

	.article__inner {
		display: flex;
		justify-content: space-between;

		@include breakpoint-down(mobile) {
			display: block;
		}
	}

	.article__inner + .article__inner {
		margin-top: 7.3rem;

		@include breakpoint-down(tablet) {
			margin-top: 4rem;
		}
	}

	.article__content {
		flex: 0 0 62.5%;
		max-width: 62.5%;
		padding-right: 10rem;

		@include breakpoint-down(small-desktop) {
			padding-right: 5rem;
		}

		@include breakpoint-down(tablet) {
			padding-right: 3rem;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			padding: 0;
		}
	}

	.article__image {
		padding-top: .5rem;
		flex: 0 0 37.5%;
		max-width: 37.5%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.article__image + .article__image {
		margin-top: 3.6rem;
	}

	.article__image + .article__entry {
		margin-top: 4rem;
	}

	.article__image img {
		width: 100%;

		@include breakpoint-down(mobile) {
			max-width: 45rem;
		}
	}

	.article__btn {
		margin-bottom: 4rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 3.8rem;
		}
	}

	.article__entry {
		display: block;
		max-width: 55rem;
		margin-left: auto;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.article__info {
		margin-bottom: 3.7rem;
		margin-top: .5rem;
	}

	.article__caption {
		display: block;
		margin-top: 1rem;
		font-size: 1rem;
	}
}

/* ------------------------------------------------------------ *\
	Article primary
\* ------------------------------------------------------------ */

.article--primary {
	h1 {
		@include breakpoint-down(mobile) {
			letter-spacing: -0.02rem;
		}
	}

	h2 {
		letter-spacing: 0.2rem;
	}

	h1 + h5 {
		margin-top: -2.2rem;
	}

	h5 {
		margin-bottom: 8.2rem;
		font-family: $ff-clash-display;

		@include breakpoint-down(tablet) {
			margin-bottom: 4rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 1.8rem;
		}
	}

	.article__image {
		padding-top: .5rem;
		flex: 0 0 33.1%;
		max-width: 33.1%;

		@include breakpoint-down(mobile) {
			max-width: calc(100% + 5.6rem);
			margin: 5.8rem -2.8rem 0;
			padding-top: 0;
		}
	}

	.article__image img {
		@include breakpoint-down(mobile) {
			width: 100%;
			max-width: 100%;
		}
	}

	.article__caption {
		@include breakpoint-down(mobile) {
			padding: 0 1.7rem;
			text-align: center;
		}
	}
}

/* ------------------------------------------------------------ *\
	article--alt
\* ------------------------------------------------------------ */

.article--alt {
	.article__inner {
		@include breakpoint-down(mobile) {
			display: flex;
			flex-flow: row wrap;
		}
	}
	.article__content {
		flex: 0 0 61.7%;
		max-width: 61.7%;
		padding: .5rem 10rem 0 0;

		@include breakpoint-down(small-desktop) {
			padding-right: 5rem;
		}

		@include breakpoint-down(tablet) {
			padding-right: 3rem;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
			padding: 0;
			order: 2;
		}
	}

	.article__image {
		padding-top: .5rem;
		flex: 0 0 38.3%;
		max-width: 38.3%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
			order: 1;
			padding-top: 0;
			margin-bottom: 4.1rem;
		}
	}

	.article__entry {
		margin-left: 0;
		padding-right: .1rem;

		@include breakpoint-down(mobile) {
			padding: 0rem .7rem 0rem 1rem;
		}
	}

	.article__caption {
		@include breakpoint-down(mobile) {
			margin-top: .9rem;
			line-height: 1;
		}
	}
}
