/* ------------------------------------------------------------ *\
	Card collection
\* ------------------------------------------------------------ */

.card-collection {
	max-width: 100%;
	margin-bottom: 8rem;

	@include breakpoint-down(tablet) {
		margin: 0rem 0 4rem;
	}

	.card__image {
		width: 100%;
		height: 46.4rem;

		@include breakpoint-down(tablet) {
			height: 37.5rem;
		}

		@include breakpoint-down(mobile) {
			width: calc(100% + 3.4rem);
			margin-left: -1.7rem;
		}
	}

	.card__image img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.card__content {
		position: relative;
		background-color: $c-white;
		width: 67.333%;
		max-width: calc(100% - 10rem);
		margin: -10rem 5rem 0rem;
		padding: 6rem 10.1rem;
		border-left: .2rem solid #000000;

		@include breakpoint-down(tablet) {
			width: 100%;
			max-width: calc(100% - 3.6rem);
			padding: 4.8rem 2rem 4.8rem 1.8rem;
			margin: -4rem 1.8rem 0rem;
		}

		@include breakpoint-down(mobile) {
			margin: -4rem 0rem 0rem;
			max-width: 100%;
		}
	}

	h3 {
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.05em;
		position: relative;
		padding-bottom: 1rem;
		margin: 0rem 0rem 2rem 0;
	}

	h3:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: .2rem;
		width: 10rem;
		background-color: #000;

		@include breakpoint-down(tablet) {
			width: 5rem;
		}
	}

	h2 {
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.07em;
		margin: 0rem 0rem 2rem 0;

		@include breakpoint-down(tablet) {
			letter-spacing: 0.05em;
		}
	}

	p:not(:last-child) {
		margin-bottom: 2rem;
	}
}

/*  card collection alt  */

.card-collection--alt {
	.card__content {
		padding: 5rem 10.1rem;

		@include breakpoint-down(tablet) {
			padding: 4.8rem 2rem 4.8rem 1.8rem;
		}
	}
}
