/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	.footer__inner {
		padding: 3.9rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: .1rem solid $c-black;

		@include breakpoint-down(mobile) {
			display: block;
			text-align: center;
		}
	}

	.footer__aside {
		flex: 0 0 50%;
		max-width: 50%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			margin-bottom: 3.4rem;
		}
	}

	.footer__content {
		flex: 0 0 50%;
		max-width: 50%;
		text-align: right;

		@include breakpoint-down(mobile) {
			max-width: 100%;
			text-align: center;
		}
	}

	.footer__content h4 {
		margin-bottom: 3.8rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.9rem;
		}
	}

	.footer__content h4 a {
		letter-spacing: 0.07rem;
	}

	.footer__content .socials {
		margin-bottom: 3.2rem;
		justify-content: flex-end;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.5rem;
		}
	}

	.footer__content .socials h4 {
		margin-bottom: .5rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.1rem;
		}
	}

	.footer__logo {
		display: inline-block;
		margin-bottom: 1.9rem;
		width: 43.4rem;

		img {
			width: 100%;
			height: 100%;
		}

		@include breakpoint-down(tablet) {
			width: 31.8rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 1rem;
		}

		@include breakpoint-down(mobile-small) {
			width: 26.1rem;
		}
	}

	.footer__btn {
		margin-bottom: 4.4rem;
		padding: 1.6rem 2.9rem;
		font-size: 1.4rem;
		letter-spacing: 0.07rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.2rem;
			padding: 1.6rem 2.8rem;
			font-size: 1rem;
		}
	}

	.footer__nav ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include breakpoint-down(mobile) {
			justify-content: center;
		}
	}

	.footer__nav li + li {
		margin-left: 2.2rem;

		@include breakpoint-down(mobile) {
			margin-left: 5.2rem;
		}
	}

	.footer__nav a {
		display: inline-block;

		&:hover {
			opacity: .6;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.2rem;
		}
	}

	.footer__socials {
		@include breakpoint-down(mobile) {
			justify-content: center;
		}
	}
}

/*  footer alt  */

.footer--alt {
	.footer__inner {
		padding: 3.9rem 0 2.4rem;
		align-items: flex-start;
		flex-flow: row wrap;
	}

	.footer__logo {
		width: 30.2rem;
		height: 2.6rem;
		margin-bottom: 2.1rem;

		@include breakpoint-down(mobile) {
			width: 23.2em;
			max-width: 100%;
			height: 2rem;
		}
	}

	.footer__aside {
		@include breakpoint-down(mobile) {
			margin-bottom: 3.6rem;
		}
	}

	.footer__content {
		max-width: 25rem;

		@include breakpoint-down(mobile) {
			margin: 0 auto;
		}
	}

	.footer__content h4 {
		margin-bottom: .4rem;
	}

	.footer__foot {
		margin-top: 4.5rem;
		width: 100%;

		@include breakpoint-down(mobile) {
			margin-top: 4.2rem;
		}
	}

	.footer__nav ul {
		justify-content: center;
	}
}
