/* ------------------------------------------------------------ *\
	Gallery
\* ------------------------------------------------------------ */

.gallery {
  .gallery-item + .gallery-item {
    margin-top: 3rem;

    @include breakpoint-down(tablet) {
      margin-top: 3rem;
    }

    @include breakpoint-down(mobile-small) {
      margin-top: 1rem;
    }
  }

  .prints__buffer {
    margin-top: 2rem;
  }

  .gallery__group + .gallery__group {
    margin-top: 3rem;

    @include breakpoint-down(tablet) {
      margin-top: 3rem;
    }

    @include breakpoint-down(mobile-small) {
      margin-top: 1rem;
    }
  }

  .gallery-bottom {
    margin-top: 66%;

    @include breakpoint-down(tablet) {
      margin-top: 72%;
    }
  }
}
