/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	display: inline-block;
	width: 24.6rem;
	height: 3.7rem;

	svg {
		width: 100%;
		height: 100%;
		fill: $c-black;
	}
}
