/* ------------------------------------------------------------ *\
	Roadmap
\* ------------------------------------------------------------ */

.roadmap {
	h2 {
		letter-spacing: 0.22rem;

		@include breakpoint-down(tablet) {
			letter-spacing: 0.12rem;
		}
	}

	.roadmap-group {
		display: flex;

		@include breakpoint-down(mobile) {
			display: block;
		}
	}

	.roadmap-group + .roadmap-group {
		@include breakpoint-down(mobile) {
			margin-top: 2.9rem;
		}
	}

	.roadmap-group:last-child .feature:last-child:after {
		display: none;
	}

	.roadmap-group__aside {
		flex: 0 0 39%;
		max-width: 39%;
		padding-right: 2rem;

		@include breakpoint-down(tablet) {
			flex: 0 0 25%;
			max-width: 25%;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			margin-bottom: 3.7rem;
		}
	}

	.roadmap-group__content {
		flex: 0 0 61%;
		max-width: 61%;

		@include breakpoint-down(tablet) {
			flex: 0 0 75%;
			max-width: 75%;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}
}
