/* ------------------------------------------------------------ *\
	Section collection
\* ------------------------------------------------------------ */

.section-collection {
	position: relative;
	padding: 4rem 0 6rem;

	@include breakpoint-down(tablet) {
		padding: 0rem 0rem 6rem;
	}

	@include breakpoint-down(mobile) {
		padding: .3rem 0rem 5.1rem;
	}

	.section__inner {
		border-top: 4px solid #000000;
		padding: 8rem 0rem 0rem 0rem;
		display: flex;
		flex-flow: row wrap;

		@include breakpoint-down(tablet) {
			border-top: 3px solid #000000;
			padding: 4rem 0rem 0rem 0rem;
		}

		@include breakpoint-down(mobile) {
			border: none;
			padding: 0rem;
		}
	}

		.section-collection--alt {
			position: relative;
			padding: 4rem 0 2rem;
	
			@include breakpoint-down(tablet) {
				padding: 0rem 0rem 6rem;
			}
	
			@include breakpoint-down(mobile) {
				padding: .3rem 0rem 5.1rem;
			}
	
			.section__inner {
				border-top: 4px solid #000000;
				padding: 8rem 0rem 0rem 0rem;
				display: flex;
				flex-flow: row wrap;
	
				@include breakpoint-down(tablet) {
					border-top: 3px solid #000000;
					padding: 4rem 0rem 0rem 0rem;
				}
	
				@include breakpoint-down(mobile) {
					border: none;
					padding: 0rem;
				}
			}
		}

	.section__content {
		flex: 0 0 calc(100% - 30rem);
		max-width: calc(100% - 30rem);
		padding-right: 3rem;

		@include breakpoint-down(tablet) {
			flex: 0 0 calc(100% - 27.5rem);
			max-width: calc(100% - 27.5rem);
			padding-right: 5rem;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			padding-right: 0;
		}
	}

	.section__content-inner {
		width: 100%;
		max-width: 90rem;
	}

	.section__aside {
		flex: 0 0 30rem;
		max-width: 30rem;
		margin-top: -.2rem;

		@include breakpoint-down(tablet) {
			flex: 0 0 27.5rem;
			max-width: 27.5rem;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			margin-top: 0;
		}
	}
}
