/* ------------------------------------------------------------ *\
	Section category
\* ------------------------------------------------------------ */

.section-category {
	position: relative;
	font-size: 1.4rem;
	line-height: 1.57;

	@include breakpoint-down(mobile) {
		padding: .3rem 0rem 0rem;
	}

	h1 {
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.05em;
	}

	.section__image {
		position: relative;
		min-height: 60rem;

		@include breakpoint-down(mobile) {
			min-height: 28.5rem;
		}
	}

	.section__image-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.section__image img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.section__head {
		text-align: center;
		border-bottom: solid .1rem $c-black;
	}

	.section__head-inner {
		padding: 4rem 0;
		border-bottom: solid .1rem $c-black;

		@include breakpoint-down(mobile) {
			padding: 4rem 1rem;
		}
	}

	.section__body {
		max-width: 114rem;
		margin: 0 auto;
		padding: 8rem 0 1.9rem;

		@include breakpoint-down(mobile) {
			padding: 4rem 1.2rem 1.9rem 1rem;
		}
	}

	.section__body-inner {
		padding: 3.9rem 0;
		display: flex;
		flex-flow: row wrap;
		margin: 0rem -1rem;

		@include breakpoint-down(tablet) {
			margin: 0 ;
		}

		@include breakpoint-down(mobile) {
			padding: 2rem 0rem;
			margin: 0rem -1.2rem 0rem -1rem;
		}
	}

	.section__video {
		flex: 0 0 50.6%;
		max-width: 50.6%;
		padding: 0rem 1rem;
		height: 57.1439%;

		@include breakpoint-down(tablet) {
			flex: 0 0 100%;
			max-width: 100%;
			text-align: center;
			padding: 0;
			margin-bottom: 4.1rem;
		}

		@include breakpoint-down(mobile-medium) {
			padding: 0;
			flex: 0 0 calc(100% + 3.6rem);
			max-width: calc(100% + 3.6rem);
			margin-left: -1.8rem;
		}
	}

	.section__cards {
		flex: 0 0 49.4%;
		max-width: 49.4%;
		padding: 0rem 1rem;

		@include breakpoint-down(tablet) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	h2 {
		letter-spacing: 0.07em;
		line-height: 1;
		margin-bottom: 4rem;

		@include breakpoint-down(mobile) {
			letter-spacing: 0.05em;
			margin-bottom: 2.2rem;
		}
	}

	p {
		line-height: 1.57;
		margin-bottom: 2.2rem;
	}

	p a {
		text-decoration: underline;
	}

	p a:hover  {
		text-decoration: none;
	}

	.section__content + .section__content {
		margin-top: 8rem;

		@include breakpoint-down(mobile) {
			margin-top: 8.9rem;
		}
	}
}

/*  section category alt  */

.section-category--alt {
	padding-bottom: 6rem;

	@include breakpoint-down(mobile) {
		padding: .3rem 0rem 2rem;
	}

	h2 {
		@include breakpoint-down(mobile) {
			text-align: center;
			margin-bottom: 4rem;
		}
	}
}

/*  section category secondary  */

.section-category--secondary {
	padding-bottom: 6rem;

	@include breakpoint-down(mobile) {
		padding: .3rem 0rem 6rem;
	}

	h2 {
		@include breakpoint-down(mobile) {
			text-align: center;
			margin-bottom: 4rem;
		}
	}

	.section__image {
		position: relative;
		min-height: 40rem;

		@include breakpoint-down(mobile) {
			min-height: 28.5rem;
		}
	}

	.section__body {
		max-width: 100%;
	}

	.section__body-head {
		text-align: center;
		margin-bottom: 8rem;
	}

	.section__body-head h3 {
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.05em;
		margin-bottom: 4rem;
	}

	.section__entry {
		max-width: 69rem;
		margin: 0 auto;
		font-size: 1.4rem;
		line-height: 1.57;
	}
}
