/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;
}

/* ------------------------------------------------------------ *\
	Wrapper alt
\* ------------------------------------------------------------ */

.wrapper--alt {
	.header {
		display: none;

		@include breakpoint-down(tablet) {
			display: block;
		}
	}
}
