<footer class="footer footer--alt">
	<div class="shell">
		<div class="footer__inner">
			<aside class="footer__aside">
				<a href="#" class="logo footer__logo">
					<img src="assets/images/svg/volker-logo-footer.svg" alt="">
				</a>

				<div class="socials footer__socials">
					<ul>
						<li>
							<a href="https://twitter.com/volker_hermes" target="_blank">
								<i class="ico-twitter-secondary">
									<svg>
										<use xlink:href="#twitter"></use>
									</svg>
								</i>
							</a>
						</li>

						<li>
							<a
							href="https://www.instagram.com/volker.hermes/"
							target="_blank"
							>
							<i class="ico-instagram-secondary">
								<svg>
									<use xlink:href="#instagram"></use>
								</svg>
							</i>
						</a>
					</li>

					<li>
						<a href="mailto:post@tkn.art">
							<i class="ico-email">
								<svg>
									<use xlink:href="#email"></use>
								</svg>
							</i>
						</a>
					</li>
				</ul>
				</div>
				<!-- /.socials -->
			</aside><!-- /.footer__aside -->

			<div class="footer__content">
				<div class="callout-small callout-small--alt">
					<div class="callout__head">
						<h4>sign up for the newsletter for the latest news</h4>
					</div><!-- /.callout__head -->

					<div class="callout__body">
						<div class="subscribe subscribe--alt">
							<form action="" method="post">
								<div class="subscribe__row">
									<label for="mail-2" class="hidden">Email</label>

									<input type="text"  class="subscribe__field" id="mail-2" placeholder="email" />
								</div><!-- /.subscribe__row -->

								<div class="subscribe__row">
									<input type="submit" value="Send" class="subscribe__btn btn btn-secondary btn-outline--solid" />
								</div><!-- /.subscribe__row -->
							</form>
						</div><!-- /.subscribe -->
					</div><!-- /.callout__body -->
				</div><!-- /.callout -->
			</div><!-- /.footer__content -->

			<div class="footer__foot">
				<nav class="footer__nav">
					<ul>
						<li>
							<a href="https://app.termly.io/document/privacy-policy/5a0cf8d1-a225-4d16-b502-9dcf21a552c7" target="_blank">Privacy Policy</a>
						</li>

						<li>
							<a href="https://app.termly.io/document/terms-of-use-for-website/164a4587-d3cb-4ff9-be5b-5f84149c1049" target="_blank">Terms &amp; Conditions</a>
						</li>
					</ul>
				</nav>
			</div><!-- /.footer__foot -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer>
<!-- /.footer -->

<div class="svg-sprite hidden">
	<include src="./../../build/assets/images/sprite.svg"></include>
</div>
<script
type="text/javascript"
src="https://app.termly.io/embed.min.js"
data-auto-block="on"
data-website-uuid="22f770c1-4bd9-419a-b34c-08783dc55b4a"
></script>
