<footer class="footer">
  <div class="shell">
    <div class="footer__inner">
      <!--aside class="footer__aside">
        <a href="https://www.tkn.art/" target="_blank" class="footer__logo">
          <img
            src="assets/images/svg/logo-footer.svg"
            alt=""
            class="hidden-xs"
          />
          <img
            src="assets/images/svg/logo-footer-mobile.svg"
            alt=""
            class="visible-xs-inline-block"
          />
        </a>-->

        <div class="socials socials--alt footer__socials">
          <h4>For artist, and collection inquiries:</h4>

          <ul>
            <li>
              <a href="mailto:post@tkn.art">
                <i class="ico-email">
                  <svg>
                    <use xlink:href="#email"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/tkn_art" target="_blank">
                <i class="ico-twitter">
                  <svg>
                    <use xlink:href="#twitter"></use>
                  </svg>
                </i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.socials -->
      </aside>
      <!-- /.footer__aside -->

      <div class="footer__content">
        <div class="socials socials--main footer__socials">
          <h4>To keep up with drops and future series follow allong</h4>

          <ul>
            <li>
              <a href="https://twitter.com/hiddenportraits" target="_blank">
                <i class="ico-twitter">
                  <svg>
                    <use xlink:href="#twitter"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a
                href="https://www.instagram.com/volker.hermes/"
                target="_blank"
              >
                <i class="ico-instagram">
                  <svg>
                    <use xlink:href="#instagram"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a href="https://discord.com/invite/zjU4FsQG59" target="_blank">
                <i class="ico-discord">
                  <svg>
                    <use xlink:href="#discord"></use>
                  </svg>
                </i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.socials -->

        <h4><a href="http://volkerhermes.de" target="_blank">volkerhermes.de</a></h4>

        <a
          href="https://superrare.com/volkerhermes/creations"
          class="btn btn-default btn-outline--solid footer__btn"
          target="_blank"
          >view on super rare</a
        >

        <nav class="footer__nav">
          <ul>
            <li>
              <a href="https://app.termly.io/document/privacy-policy/5a0cf8d1-a225-4d16-b502-9dcf21a552c7" target="_blank">Privacy Policy</a>
            </li>

            <li>
              <a href="https://app.termly.io/document/terms-of-use-for-website/164a4587-d3cb-4ff9-be5b-5f84149c1049" target="_blank">Terms & Conditions</a>
            </li>
          </ul>
        </nav>
        <!-- /.footer__nav -->
      </div>
      <!-- /.footer__content -->
    </div>
    <!-- /.footer__inner -->
  </div>
  <!-- /.shell -->
</footer>
<!-- /.footer -->

<div class="svg-sprite hidden">
  <include src="./../../build/assets/images/sprite.svg"></include>
</div>
<script
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="on"
  data-website-uuid="22f770c1-4bd9-419a-b34c-08783dc55b4a"
  ></script>
