<header class="header header--alt">
  <div class="shell">
    <div class="header__inner">
      <div class="header__bar">
        <a href="home.html" class="logo logo--alt header__logo">
            <svg>
              <use xlink:href="#volker-logo2"></use>
            </svg>
        </a>

        <a href="#" class="nav-trigger js-trigger header__nav-trigger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- /.header__bar -->

      <div class="header__content">
        <nav class="nav nav--alt header__nav js-nav">
          <ul>
            <li>
              <a href="press.html">press</a>
            </li>

            <li>
              <a href="https://hermes.art/assets/pdf/CVVolkerHermes2022.pdf" target="_blank">CV</a>
            </li>

            <li>
              <a href="about.html" class="about-mobile">About</a>
            </li>
            <!-- <li>
              <a href="guide.html">guide</a>
            </li> -->
          </ul>
        </nav>
        <!-- /.nav -->

        <div class="socials header__socials">
          <ul>
            <li>
              <a href="https://twitter.com/volker_hermes" target="_blank">
                <i class="ico-twitter">
                  <svg>
                    <use xlink:href="#twitter"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a
                href="https://www.instagram.com/volker.hermes/" target="_blank">
                <i class="ico-instagram">
                  <svg>
                    <use xlink:href="#instagram"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a href="mailto:post@hermes.art" target="_blank">
                <i class="ico-email-secondary">
                  <svg>
                    <use xlink:href="#email-alt"></use>
                  </svg>
                </i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.socials -->
      </div>
      <!-- /.header__content -->
    </div>
    <!-- /.header__inner -->
  </div>
  <!-- /.shell -->
</header>
<!-- /.header -->
