<header class="header">
  <div class="shell">
    <div class="header__inner">
      <div class="header__bar">
        <a href="home.html" class="logo header__logo">
          <svg>
            <use xlink:href="#hidden-portrait-logo"></use>
          </svg>
        </a>

        <a href="#" class="nav-trigger js-trigger header__nav-trigger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- /.header__bar -->

      <div class="header__content">
        <nav class="nav header__nav">
          <ul>
            <li>
              <a href="about.html">About</a>
            </li>

            <li>
              <a href="properties.html">properties</a>
            </li>
          </ul>
        </nav>
        <!-- /.nav -->

        <a
          href="https://superrare.com/volkerhermes"
          class="btn btn-default btn-light visible-sm-inline-block visible-xs-inline-block header__btn"
          target="_blank"
          >view on super rare</a
        >

        <div class="socials header__socials">
          <ul>
            <li>
              <a href="https://twitter.com/hiddenportraits" target="_blank">
                <i class="ico-twitter">
                  <svg>
                    <use xlink:href="#twitter"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a
                href="https://www.instagram.com/volker.hermes/"
                target="_blank"
              >
                <i class="ico-instagram">
                  <svg>
                    <use xlink:href="#instagram"></use>
                  </svg>
                </i>
              </a>
            </li>

            <li>
              <a href="https://discord.com/invite/zjU4FsQG59" target="_blank">
                <i class="ico-discord">
                  <svg>
                    <use xlink:href="#discord"></use>
                  </svg>
                </i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.socials -->
      </div>
      <!-- /.header__content -->
    </div>
    <!-- /.header__inner -->
  </div>
  <!-- /.shell -->
</header>
<!-- /.header -->
