//Variables
$font-size-base             : 1.4rem;
$font-weight-base           : 400;
$line-height-base           : 1.2;

$ff-sans-serif              : "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif                   : Georgia, "Times New Roman", Times, serif;

$ff-roboto              	: "Roboto", sans-serif;
$ff-clash-display           : "Clash Display", sans-serif;

$t-duration                 : 0.4s;

$shell-max-width            : 132rem;
$shell-gutter               : 1.5rem;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #055590;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);
